@font-face {
  font-family: "Panton";
  font-style: normal;
  font-weight: normal;
  src: url(../../typography/Panton.otf) format("opentype");
}
:host {
  display: flex;
}
:host > label {
  font-family: "Panton";
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  line-height: 22px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
:host > label::before {
  box-sizing: border-box;
  content: "";
  display: flex;
  width: 22px;
  height: 22px;
  border-style: solid;
  border-width: 1px;
  border-color: #DADADA;
  margin: 0 22px 0 0;
}
:host > label > input[type=checkbox] {
  display: none;
}

:host([checked]) > label::after {
  box-sizing: border-box;
  position: absolute;
  left: 4px;
  content: "";
  display: flex;
  width: 14px;
  height: 14px;
  margin: 0 22px 0 0;
  background-color: #22F4AE;
}