// within the system
$size-120: 96px;
$size-110: 88px;
$size-100: 80px;
$size-090: 72px;
$size-085: 68px;
$size-080: 64px;
$size-075: 60px;
$size-070: 56px;
$size-065: 52px;
$size-060: 48px;
$size-050: 40px;
$size-045: 36px;
$size-040: 32px;
$size-030: 24px;
$size-025: 20px;
$size-020: 16px;

// specials
$size-0688: 55px;
$size-0563: 45px;
$size-0488: 39px;
$size-0280: 22px;
$size-0225: 18px;
$size-0213: 17px;
$size-0188: 15px;
$size-0125: 10px;
$size-0088: 7px;
$size-0040: 3px;
$size-0025: 2px;
$size-0018: 1px;