@font-face {
  font-family: "Panton";
  font-style: normal;
  font-weight: normal;
  src: url(../../typography/Panton.otf) format("opentype");
}
:host {
  font-family: "Panton";
  color: #000000;
  font-size: 20px;
  font-weight: normal;
  line-height: 36px;
  display: inline-flex;
  box-sizing: border-box;
  background-color: #F7F7F7;
  height: 36px;
  padding: 0 16px;
}